@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Shared Design */
.primary-color-1 {
    color: rgba(37, 36, 50, 1);
}

.primary-color-2 {
    color: rgba(137, 135, 161, 1);
}

.primary-color-3 {
    color: rgba(233, 90, 8, 1);
}

.max-width {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header Section */
/* Nav Section */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-link {
    list-style: none;
    margin-right: 48px;
}

.nav-link a {
    text-decoration: none;
}

#link1 {
    font-weight: bold;
}

/* Banner Section */
.banner {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.banner-header {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner img {
    width: 100%;
}

/* Plant Section */
.plant-header {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
}

.plant-text {
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.plant-card {
    max-width: 270px;
    max-height: 485px;

}

.card-img {
    width: 100%;
}

.f-name {
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 8;
    margin-top: 20px;
    margin-bottom: 5px;
}

.f-price {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 19px 85px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    margin-top: 0;
}

/* Flower */
.flower {
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
}

.flower-img-container {
    max-height: 597px;
}

.flower-badge-container {
    max-width: 220px;
    max-height: 220px;
}

.flower-badge {
    width: 100%;
    transform: translateX(410px) translateY(-685px);
}

.flower-img1 {
    width: 100%;
    height: 100%;
}

.flower-content {
    max-width: 540px;
}

.flower-heading {
    font-size: 3.2rem;
    font-weight: bold;
}

.flower-list {
    margin-bottom: 20px;
}

/*  */
.deal {
    margin-bottom: 130px;
}

.deal-header {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
}

.deal-text {
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.deal-img-container1 {
    background:linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/deal-bloom.png);
    background-size: cover;
    width: 100%;
    height: 201px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deal-img-container2 {
    background:linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/deal-ana.png);
    background-size: cover;
    width: 100%;
    height: 201px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deal-img-container3 {
    background:linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/deal-zabo.png);
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deal-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.deal-img-container1 {
    grid-column: 1;
    grid-row: 1;
}

.deal-img-container2 {
    grid-column: 1;
    grid-row: 2;
}

.deal-img-container3 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}

.deal-img-text {
    font-size: 1.2rem;
    color: white;
}

.deal-link {
    color: white;
}

.deal-img-text1 {
    font-size: 2.5rem;
    color: white;
}

.deal-link1 {
    font-size: 1.7rem;
    color: white;
}

/* Join Section */
.join {
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 533px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.join-heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

input[type="email"] {
    width: 644px;
    height: 20px;
    padding: 15px 20px;
}

.btn-1 {
    padding: 18px 40px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-content3,
.footer-content2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-img {
    margin-right: 20px;
}
.footer-content4-img
{
    display: flex;
    align-items: center;
}
.footer-link {
    text-decoration: none;
}

.footer-text {
    max-width: 250px;
    margin-bottom: 20px;
}

/* Responsive */
@media screen and (max-width:576px) {

    /* Nav Section */
    .nav-links {
        display: none;
    }

    .nav-cart {
        max-height: 25px;
    }

    /* Banner Section */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-header {
        font-size: 1.5rem;
    }

    .banner-text {
        text-align: justify;
        font-size: 0.8rem;
    }

    /* Plats Section */
    .plant-header {
        margin-top: 60px;
    }

    .plant-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-card {
        max-width: 270px;
        max-height: 485px;

    }

    .btn {
        padding: 19px 30px;
        font-weight: 600;
        font-size: 0.7rem;
        width: 100%;
    }

    .plant-header {
        font-size: 1.5rem;
    }

    .plant-text {
        font-size: 1rem;
    }

    .f-name,
    .f-price {
        font-size: 1rem;
    }

    /* Flower */
    .flower-badge-container {
        display: none;
    }

    .flower {
        flex-direction: column;
        margin-top: 40px;
    }

    .flower-heading {
        font-size: 1.5rem;
    }

    .flower-list {
        font-size: 0.8rem;
    }

    /* Deal Section */
    .deal-header {
        font-size: 1.8rem;
    }

    .deal-text {
        font-size: 0.8rem;
    }

    .deal-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .deal-img-container3 {
        grid-column: 1;
        grid-row: 3;
    }

    .deal-img-text1 {
        font-size: 1.2rem;
    }

    .deal-link1 {
        font-size: 1rem;
    }

    .deal-img-container3 {
        height: 201px;
    }

    /* Join Section */
    .join {
        height: 275px;
    }

    .join-heading {
        font-size: 1.2rem;
    }

    input[type="email"] {
        width: 55%;
        height: 20px;
        padding: 10px 15px;
    }

    .btn-1 {
        padding: 13px 20px;
    }

    /* Footer */
    .footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .footer-text {
        margin-bottom: 0;
        max-width: 400px;
    }
}