@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Shared Design */
.primary-color-1 {
    color: rgba(37, 36, 50, 1);
}

.primary-color-2 {
    color: rgba(137, 135, 161, 1);
}

.primary-color-3 {
    color: rgba(233, 90, 8, 1);
}

.max-width {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header Section */
/* Nav Section */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-link {
    list-style: none;
    margin-right: 48px;
}

.nav-link a {
    text-decoration: none;
}

#link1 {
    font-weight: bold;
}

/* Banner Section */
.banner {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.banner-header {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner img {
    width: 100%;
}

/* Plant Section */
.plant-header {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
}

.plant-text {
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.plant-card {
    max-width: 270px;
    max-height: 485px;

}

.card-img {
    width: 100%;
}

.f-name {
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 8;
    margin-top: 20px;
    margin-bottom: 5px;
}

.f-price {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 19px 85px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    margin-top: 0;
}

/* Flower */
.flower {
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
}

.flower-badge-container {
    max-width: 220px;
    max-height: 220px;
}

.flower-badge {
    width: 100%;
    transform: translateX(410px) translateY(-685px);
}

.flower-img1 {
    width: 100%;
}

.flower-content {
    max-width: 540px;
}

.flower-heading {
    font-size: 3.2rem;
    font-weight: bold;
}

.flower-list {
    margin-bottom: 20px;
}

/* Responsive */
@media screen and (max-width:576px) {

    /* Nav Section */
    .nav-links {
        display: none;
    }

    .nav-cart {
        max-height: 25px;
    }

    /* Banner Section */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-header {
        font-size: 1.5rem;
    }

    .banner-text {
        text-align: justify;
        font-size: 0.8rem;
    }

    /* Plats Section */
    .plant-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-card {
        max-width: 270px;
        max-height: 485px;

    }

    .btn {
        padding: 19px 30px;
        font-weight: 600;
        font-size: 0.7rem;
        width: 100%;
    }

    .plant-header {
        font-size: 1.5rem;
    }

    .plant-text {
        font-size: 1rem;
    }

    .f-name,
    .f-price {
        font-size: 1rem;
    }

    /* Flower */
    .flower-badge-container {
        display: none;
    }

    .flower {
        flex-direction: column;
    }

    .flower-heading {
        font-size: 1.5rem;
    }
    .flower-list{
        font-size: 0.8rem;
    }
}